@model SistemaInventario.Modelos.ViewModels.ProductoVM;
@{
    ViewData["Title"] = "Upsert";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var titulo = "Crear Producto";
}

<form method="post" enctype="multipart/form-data">
    <div class="container">
        <div class="row p-3 border-0">
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        </div>
    </div>

    @if (Model.Producto.Id != 0)
    {
        //actualizar
        titulo = "Actualizar Producto";
        <input type="hidden" asp-for="Producto.Id" />
    }


    <div class="col-12 border-bottom">
        <h2 class="text-primary">@titulo</h2>
    </div>
    <div class="col-8 pt-4">
        <div class="mb-3 row">
            <div class="col-4">
                <label class="form-label" asp-for="Producto.NumeroSerie"></label>
            </div>
            <div class="col-8">
                <input asp-for="Producto.NumeroSerie" class="form-control" />
                <span asp-validation-for="Producto.NumeroSerie" class="text-danger"></span>

            </div>
        </div>
        <div class="mb-3 row">
            <div class="col-4">
                <label class="form-label" asp-for="Producto.Descripcion"></label>
            </div>
            <div class="col-8">
                <input asp-for="Producto.Descripcion" class="form-control" />
                <span asp-validation-for="Producto.Descripcion" class="text-danger"></span>
            </div>
        </div>
        <div class="mb-3 row">
            <div class="col-4">
                <label class="form-label" asp-for="Producto.Costo"></label>
            </div>
            <div class="col-8">
                <input asp-for="Producto.Costo" class="form-control" />
                <span asp-validation-for="Producto.Costo" class="text-danger"></span>
            </div>
        </div>
        <div class="mb-3 row">
            <div class="col-4">
                <label class="form-label" asp-for="Producto.Precio"></label>
            </div>
            <div class="col-8">
                <input asp-for="Producto.Precio" class="form-control" />
                <span asp-validation-for="Producto.Precio" class="text-danger"></span>
            </div>
        </div>
        <div class="mb-3 row">
            <div class="col-4">
                Categoria
            </div>
            <div class="col-8">
                @Html.DropDownListFor(elemento => elemento.Producto.CategoriaId, Model.CategoriaLista, "Seleccione",
                 new { @class = "form-control" }
               )
                <span asp-validation-for="Producto.CategoriaId" class="text-danger"></span>
            </div>
        </div>
        <div class="mb-3 row">
            <div class="col-4">
                Marca
            </div>
            <div class="col-8">
                @Html.DropDownListFor(elemento => elemento.Producto.MarcaId, Model.MarcaLista, "Seleccione",
                 new { @class = "form-control" }
               )
                <span asp-validation-for="Producto.MarcaId" class="text-danger"></span>
            </div>
        </div>
        <div class="mb-3 row">
            <div class="col-4">
                Imagen
            </div>
            <div class="col-8">
                <input type="file" name="files" id="imagen" multiple class="form-control" />
            </div>
        </div>

        <div class="mb-3 row">
            <div class="col-4">
                Padre
            </div>
            <div class="col-8">
                @Html.DropDownListFor(elemento => elemento.Producto.PadreId, Model.PadreLista, "Seleccione",
                 new { @class = "form-control" }
               )
            </div>
        </div>


        <div class=" mb-3 row">
            <div class="col-8 offset-4">
                @if (Model.Producto.Id != 0)
                {

                    @if (Model.Producto.Id != 0)
                    {
                        <div class="col-6 mb-3">
                            <img src="@Model.Producto.ImagenUrl" style="width:100%;padding:5px; border-radius:5px; border:1px solid #808080; max-height:300px" />
                        </div>
                    }
                    <partial name="_BotonesActualizarRegresar" model="Model.Producto.Id" />
                }
                else
                {

                    <div class="row">
                        <div class="col">
                            <button type="submit" class="btn btn-primary form-control" onclick="return validarEntrada()">Crear</button>
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success form-control">Regresar</a>
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
</form>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/producto.js"></script>
}

